.required-item {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.required-item-image-container {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid var(--misc-container-light);
    background: var(--misc-container);
    padding: 8px;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
}

.required-item-image-container img {
	width: 100%;
	height: 100%;
    filter: grayscale(1);
}

.required-item-image-container span {
	position: absolute;
    bottom: 0;
    right: 0;
    background: #000000a6;
    color: var(--alchemy-parchment);
    border: 1px solid var(--alchemy-accent);
    border-top-left-radius: 4px;
    border-bottom: 0px;
    border-right: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.required-item.satisfied .required-item-image-container span {
	background: var(--alchemy-accent);
}
.required-item.satisfied .required-item-image-container img {
    filter: none;
}